.container {
    width: 100px;
    height: 100px;
    background-color: rgb(214, 230, 235);
    display: inline-flex;
    /* display: flex; */
    border: 1px solid black;
    border-radius: 50px;
}

body{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&auto=format&fit=crop&w=1470&q=80');
}
